@import "daisyui/dist/full.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #030303;
}
.img-hero {
  position: relative;
  z-index: 1;
}
.img-hero:hover {
  z-index: 50;
}

.fondo {
  background: radial-gradient(
    circle,
    rgba(236, 192, 111, 0.6) 0%,
    rgba(0, 0, 0, 0.4486388305322129) 75%,
    rgba(0, 0, 0, 1) 100%
  );
  height: 100%;
  width: 100%;
  border-radius: 100%;
}
/* https://cssgradient.io */
